.bouton11 {
	margin: 0.5em;
	padding: 5px;
	margin-left: 43px;
}
.bouton1 {
	padding: 5px;
	margin-left: 15px;
}
b {
	color: lightgrey;
	text-align: center;
	margin-left: 15%;
}
.b7 {
	float: left;
	padding: 5px;
}