.bloc1{
	float: left;
	background-color: blue;
	height: 200px;
	width: 200px;
    margin: 10px;
}
.bloc2{
	float: left;
	background-color: green;
	height: 200px;
	width: 150px;
	margin-left: 20px;
	margin: 10px;
}
.bloc3{
clear: both;
background-color: grey;
height: 150px;
width: 100px;
margin-left: 20px;
margin: 10px;
}
body{
	background-color: lightgrey;
}
.foot {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
	background-color: grey;
	padding: 20px;
}
a{
	margin-left: 30px;
	text-align: bottom;
	
	
}
.b1{
	font-size: 15px;
	margin-top: 5px;
	padding: 7px;
	text-align: center;
	margin-left: 20%
}
*{
	margin: 0;
	padding: 0;
}